<div >
    <div class="container">
        <div class="row">
            <div class="col">
                @Context.Request.RouteValues["controller"]
                @Context.Request.RouteValues["action"]
                @Context.Request.RouteValues["id"]
               <h1> SALAMMMMM </h1>
            </div>
            
        </div>
    </div>

</div>